body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DCE9F4;
}

* {
    font-family: 'Sen', sans-serif;
}

.container-geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.container-geral h2 {
    color: #064787;
    font-size: 1.7em;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}