.container {
    background-color: #F0F7FB;
    min-height: 800px;
    max-width: 400px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.container .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .logo img {
    max-width: 300px;
}

.container .logo h1 {
    text-transform: uppercase;
    color: #064787;
    font-size: 1.8em;
    margin-top: -30px;
}

.container form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form input[type="submit"] {
    width: 250px;
    margin-top: 20px;
}