form#class {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form#class input[type="submit"] {
    width: 250px;
    margin-top: 20px;
}